.player{
    width: 60px;
    height: 60px;
    background-color: yellow;
    position: relative;
    left: 0;
    top: 0;
}
.facePlayer{
    width: 20px;
    height: 20px;
    background-color: gold;
    display: flex;
}
.area{
    height: 600px;
    width: 600px;
    background-color: green;
    margin: 50px auto;
}